.about-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin-left: 220px; */
    grid-gap: 10px;
   

}
.about-section-bg{
    background-color: rgb(236, 236, 245);
}
.image-size{
    width: 400px;
    height: 350px;
} 