.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;

}
.blog-section{
    background-color: rgb(236, 238, 241);
border-radius: 10px;
padding: 10px;
}
.blog-img{
    width: 100%;
    height: 350px;
}